body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(255, 200, 111, 0.428);
}

:root {
  --main-color: rgb(0, 85, 62);
  --accent-color-1: rgb(255, 199, 111);
  --accent-color-2: rgb(231, 243, 234);
  --text-color: rgb(32, 32, 32);
  --complement-color: rgb(255, 115, 64);
  --border-radius: 10px;
}

.main-content {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
}

.main-content__card-list {
  list-style: none;
  padding: 0;
}

li.card {
  margin-bottom: 30px;
}
