.button {
  margin-bottom: 15px;
  border-radius: var(--border-radius);
  border: 2px solid var(--main-color);
  padding: 7px;
  background-color: var(--accent-color-1);
  color: var(--text-color);
  font-weight: bolder;
  box-shadow: 3px 3px 5px var(--box-shadow);
  cursor: pointer;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: var(--complement-color-2);
}
