.card {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--accent-color-2);
  color: var(--text-color);
  padding: 20px;
  border-radius: 10px;
  border: 3px solid var(--main-color);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  position: relative;
}

.main-content__card-list {
  list-style: none;
  padding: 0;
}

li.card {
  margin-bottom: 30px;
}

svg.card__bookmark {
  position: absolute;
  top: -10px;
  right: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

p.card__question {
  font-size: large;
  color: var(--text-color);
  text-align: center;
}

p.card__solution {
  color: gray;
  font-weight: 500;
  text-align: center;
}

p.category {
  font-weight: 500;
  font-size: smaller;
  background-color: #e0e0e0;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

div.card__tag {
  display: flex;
  align-self: start;
  gap: 10px;
}
