form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button--submit {
  align-self: center;
}

p.character-count {
  font-size: small;
  margin-top: 0px;
  text-align: right;
}

.textfield {
  background-color: var(--accent-color-2);
  border-radius: 7px;
  border: 2px solid var(--main-color);
}

.card-container {
  padding-bottom: 20px;
}
