.profile {
  max-width: 600px;
}

.profile__start {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 15px;
  align-items: center;
}

svg.profile__picture {
  width: 200px;
  height: 200px;
}

.profile__about {
  margin: 50px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.profile__counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

svg.counter-images {
  width: 35px;
  height: 35px;
}
.profile__counter__box {
  border-radius: 10px;
  border: 3px solid var(--text-color);
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
  gap: 20px;
  font-size: large;
}

.profile__settings {
  width: 90%;
  margin: auto;
  margin-bottom: 70px;
}

.profile__settings-darkmode-input {
  height: 0;
  width: 0;
  visibility: hidden;
}

.profile__settings-darkmode-label {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--fs-500);
  height: 40px;
}

.profile__settings-darkmode-label:before {
  width: 80px;
  height: 40px;
  display: block;
  border-radius: 100px;
  position: absolute;
  content: "";
  right: 0;
  border: 2px solid var(--text-color);
}

.profile__settings-darkmode-label:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 40px;
  width: 30px;
  height: 30px;
  background: var(--main-color);
  border-radius: 90px;
  transition: right 0.3s;
}

.profile__settings-darkmode-input:checked
  + .profile__settings-darkmode-label:before {
  background: var(--box-shadow);
}

.profile__settings-darkmode-input:checked
  + .profile__settings-darkmode-label:after {
  right: 5px;
}
